.dataBinding {
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  /* margin-top: 5rem; */
  padding: 1.5rem;
}

#oneWay {
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 1rem;
}

#interpolation {
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;
  /* font-size: 1.5rem; */
  box-shadow: 5px 5px 5px black;
  background-color: rosybrown;
}

#ternaryOperator {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem;
  /* font-size: 1.5rem; */
  box-shadow: 5px 5px 5px black;
  background-color: rosybrown;
  /* color: white; */
}

#propertyBinding {
  margin: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  /* font-size: 1.5rem; */
  box-shadow: 5px 5px 5px black;
  background-color: rosybrown;
  /* color: white; */
}

#eventBinding {
  margin: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  /* font-size: 1.5rem; */
  box-shadow: 5px 5px 5px black;
  background-color: rosybrown;
  /* color: white; */
}

#twoWay {
  margin-top: 1.5rem;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 1rem;
}

#propEveBinding {
  margin: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  /* font-size: 1.5rem; */
  box-shadow: 5px 5px 5px black;
  background-color: rosybrown;
  /* color: white; */
}
