/* ------------------ Common CSS ---------------------------- */
/* *{
  font-family: cascadia mono;
} */
input {
  margin: 1rem;
}

ul,
li {
  margin: 0.5rem 0;
}

/* --------------------------------------------------------------- */
.mainClass {
  /* border: 1px solid black;
  box-shadow: 0 0 5px black; */
  padding: 1rem;
  margin: 0.5rem 0.2rem;
  /* width: 70vw; */
}
.topicClass {
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  padding: 1rem;
  border-radius: 5px;
}

.table {
  margin-top: 0.5rem;
}
.table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.subClass {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  margin-top: 1rem;
  padding: 1rem;
}

.examples {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  margin: 1rem;
  padding: 1rem;
  /* background-color: plum; */
  background-color: rosybrown;
}

/* ------------------------------------------ */
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: red;
}
