.navBar {
  background-color: darkcyan;
  padding: 1rem;
  width: 15vw;
  height: 95.5vh;
  margin: 0;
  /* z-index: 1; */
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

#navItem {
  margin: 1rem 0;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  text-align: center;
  background-color: white;
}

#navItem a {
  /* color: white; */
  text-decoration: none;
}
