<div class="navBar">
    <div id="navItem"><a routerLink="home">Home</a></div>
    <div id="navItem"><a routerLink="first-component">Angular First Component</a></div>
    <div id="navItem"><a routerLink="inline-style">Inline Style Component</a></div>
    <div id="navItem"><a routerLink="inline-template">Inline Template Component</a></div>
    <div id="navItem"><a routerLink="inline-template-style">Inline Template Style Component</a></div>
    <div id="navItem"><a routerLink="data-binding">Data Binding</a></div>
    <div id="navItem"><a routerLink="if-else-and-loops">If-Else and Loops</a></div>
    <div id="navItem"><a routerLink="component-data-sharing">Component Data Sharing</a></div>
    <div id="navItem"><a routerLink="cds-child">CDS Child</a></div>
    <div id="navItem"><a routerLink="validators">Validators</a></div>
    <div id="navItem"><a routerLink="template-form">Template Driven Form</a></div>
    <div id="navItem"><a routerLink="reactive-form">Reactive Form</a></div>
    <div id="navItem"><a routerLink="pipes">Pipes</a></div>
    <div id="navItem"><a routerLink="module">Module</a></div>
    <div id="navItem"><a routerLink="module-lazy">Module With Router</a></div>
    <div id="navItem"><a routerLink="hooks">Life Cycle Hooks</a></div>
</div>